<!doctype html>
<html>
<head>
  <title>Choose your Madlibs!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/madlib">
  Give us a random person! <input type="text" name="random_person"> <br>
  Choose a noun: 
  <select name="noun">
    <option value="kindness">kindness</option>
    <option value="happiness">happiness</option>
    <option value="insanity">insanity</option>
    <option value="sobriety">sobriety</option>
  </select> <br>
    Pick a color: 
    <input type="checkbox" name="color" value="red"/> Red
    <input type="checkbox" name="color" value="blue"/> Blue
    <input type="checkbox" name="color" value="green"/> Green
    <input type="checkbox" name="color" value="yellow"/> Yellow <br>
    Pick an adjective:
    <select name="adjective">
    <option value="awesome">awesome</option>
    <option value="terrific">terrific</option>
    <option value="grumpy">grumpy</option>
    <option value="chirpy">chirpy</option>
  </select><br>
    Pick a Music Genre:
    <input type="checkbox" name="genre" value="blues"/> Blues
    <input type="checkbox" name="genre" value="pop"/> Pop
    <input type="checkbox" name="genre" value="jazz"/> Jazz
    <input type="checkbox" name="genre" value="RnB"/>RnB
     <br>
   Pick a celebrity:
   <input type="radio" name="celebrity" value="Madonna"/> Madonna
   <input type="radio" name="celebrity" value="Beyonce"/> Beyonce
   <input type="radio" name="celebrity" value="Prince"/> Prince
   <input type="radio" name="celebrity" value="Bono"/> Bono <br>

  <input type="submit" value="Make your madlib!">
</form>

</body>
</html>
